# Ignorera Python-kompilerade filer
__pycache__/
*.py[cod]
*$py.class

# Ignorera miljöer
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignorera IDE-filer (t.ex. VSCode)
.vscode/
.idea/

# Ignorera OS-specifika filer
.DS_Store
Thumbs.db

# Ignorera loggar och databaser
*.log
*.sqlite3

# Ignorera testresultat
htmlcov/
*.cover
coverage.xml
*.lcov

# Ignorera pip cache
pip-wheel-metadata/
__pypackages__/